.link__style {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.1rem;
  margin-top: 1vh;
  width: 200px;
}

.link__style:hover {
  color: rgb(0, 140, 255);
}

.link__style:active {
  color: rgb(0, 102, 255);
}

.loader__container {
  margin-top: 10px;
}
